* {
    box-sizing: border-box;
}
.container {
    max-width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
}
.sudoku-desk {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3, 50px);
}

.cell {
    width: 100%;
    height: 100%;
    text-align: center;
    border: 1px solid black;
    font-size: 18px;
}
.not-change {
    user-select: none;
}
.incorrect-answer-animation {
    animation: incorrectAnswer forwards 0.4s;
}
.correct-answer-animation {
    animation: correctAnswer forwards 0.4s;
}

@keyframes incorrectAnswer {
    0% {
        border: 1px solid black;
    }
    25% {
        border: 2px solid red;
    }
    50% {
        border: 1px solid black;
    }
    75% {
        border: 2px solid red;
    }
    100% {
        border: 1px solid black;
    }
}

@keyframes correctAnswer {
    0% {
        border: 1px solid black;
    }
    25% {
        border: 2px solid green;
    }
    50% {
        border: 1px solid black;
    }
    75% {
        border: 2px solid green;
    }
    100% {
        border: 1px solid black;
    }
}
